<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tutorial>
            <general>
                <display_title>FAQ Table</display_title>
                <display_number_faq>5</display_number_faq>
            </general>
        </tutorial>
    </default>
</config>
